#root {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.App-tab {
  width: calc(100% - 160px);
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  min-height: 600px;
  background-color: black;
  display: flex;
  flex-direction: column;

  .Flow-grid {
    background-color: white;
    // flex: 1;
    // overflow-y: scroll;
    height: 93%;
    // width: 100%;
  }
}
