#root {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.App-container {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 0;

  .Flow-grid {
    background-color: white;
    // flex: 1;
    // overflow-y: scroll;
    height: 93%;
    // width: 100%;
  }
}
