.login {
  // background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  // border: red solid 2px;

  .login-container {
    width: 100%;
    height: 100%;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 0;
    margin: 0;
    // border: red solid 2px;
    @media (max-height: 1200px) {
      .logo {
        width: 50%;
        height: 100%;
        min-width: 50vw;
        min-height: 100vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;
        // font-family: "Bauhaus";
        margin: 0;
        gap: 2vw;
      }
      .info {
        width: 50%;
        height: 100%;
        min-width: 50vw;
        min-height: 100vh;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 2vw;
        align-items: center;
        justify-content: center;

        h2 {
          font-size: 4vw;
        }

        .infoContainer {
          width: 90%;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 5px;
          justify-content: center;
          border: red soild 2px;
        }

        #signInDiv {
          max-width: 80%;
          margin-top: 1vw;
          // border: red solid 2px;
        }

        button {
          &:hover {
            border: #666666;
          }
        }
      }
    }
    @media (max-height: 600px) {
      .logo {
        gap: 0;
      }
      .info {
        gap: 0;
        .infoContainer {
          gap: 0;
        }
      }
    }
    @media (max-height: 470px) {
      .logo {
        min-height: 470px;
      }
      .info {
        min-height: 470px;
      }
    }
    @media (max-width: 1100px) {
      .logo {
        min-width: 550px;
      }
      .info {
        min-width: 550px;
      }
    }
  }
}
