.navbar {
  height: 60px;
  display: flex;
}
.toolBarButton {
  height: 45px;
  width: 45px;
  margin-left: 10px;
  margin-right: 10px;
}

.titleInput {
  outline: 0;
  height: 30px;
  width: 300px;
  border-width: 0 0 2px;
  background-color: #212529;
  color: white;
  padding-left: 10px;
  font-size: large;
}
.titleInput:focus {
  border-color: #212529;
}

.contextMenuButton {
  border-radius: 3px;
  margin-left: 3px;
}

.styleBar {
  background-color: '#212529';
}

.bar {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.drag-node {
  cursor: grab;
  border-radius: 10px;
  height: 50px;
  width: 150px;
  // padding
  border: 2px solid #1a192b;
  margin-bottom: 10px;
}
