.navbar {
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 10px 10px 0;
  padding: 2px;

  .left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 3;
    width: 25vw;
  }

  .mid {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    width: 50vw;
  }

  .right {
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    height: 100%;
    width: 27vw;
    // border: red solid 2px;
    .mouse-dot-subscribe {
      z-index: 10;
      max-width: 15vw;
      // overflow: hidden;
      aspect-ratio: 1;
      height: 100%;
      background-color: transparent;
      border-radius: 15px;
      display: flex;
      gap: 4px;
      align-items: center;
      justify-content: flex-end;
      padding: 0 5px;

      .sub-flow {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        border-radius: 50% 50%;
        aspect-ratio: 1;
        height: 80%;
        cursor: pointer;

        :hover {
          transform: scale(1.2);
          border: black solid 2px;
          width: 1.2%;
        }
        .sub-flow-img {
          border-radius: 50% 50%;
          width: 100%;
          aspect-ratio: 1;
          object-fit: cover;
        }

        @media screen and (max-width: 700px) {
          display: none;

          &:first-child {
            display: flex;
          }
        }
      }
    }
  }

  .toolBarButton {
    border-radius: 15px;
  }

  .MuiButtonBase-root {
    padding: 0;
    min-width: 3vw;
  }
}
