.navbar {
  z-index: 1000000;
  position: absolute;
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 10px 10px 0;
  padding: 2px;

  .left {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;

    .flowTitle {
      background-color: transparent;
      overflow: hidden;
      position: relative;
      border: none;
      height: 45px;
      max-width: 250px;
      font-size: 25px;
      &:focus-visible {
        outline: none;
        border-bottom: 1;
      }
      &:focus {
        outline: none;
        border-bottom: none;
      }

      &:focus + .focus-border {
        width: 250px;
        transition: 0.4s;
      }
    }

    .focus-border {
      position: absolute;
      bottom: 15px;
      left: 60px;
      width: 0px;
      height: 2px;
      background-color: #7b7b7b;
      transition: 0.4s;
    }
  }

  .mid {
    justify-self: center;
    transform: translateX(-100px);
    display: flex;
    z-index: 3;
  }

  .right {
    z-index: 3;
    // width: 30%;
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    .mouse-dot-subscribe {
      position: absolute;
      z-index: 10;
      left: -20vw;
      width: 20vw;
      height: 100%;
      background-color: transparent;
      border-radius: 15px;
      overflow: hidden;
      display: flex;
      gap: 4px;
      align-items: center;
      padding: 0 10px;

      .sub-flow {
        border-radius: 50% 50%;
        aspect-ratio: 1;
        height: 70%;
        cursor: pointer;
        :hover {
          transform: scale(1.2);
          border: black solid 2px;
          width: 120%;
        }
        .sub-flow-img {
          border-radius: 50% 50%;
          width: 100%;
          aspect-ratio: 1;
          object-fit: cover;
        }
      }
    }
  }

  .toolBarButton {
    border-radius: 15px;
  }
}
