.sidebar {
  background-color: black;
  // color: white;
  height: 100%;
  min-width: 160px;
  min-height: 600px;
  min-height: 100vh;
  flex-direction: column;
  align-items: flex-start;
  // width: 100%;
  justify-content: flex-start;
  position: relative;
  border-right: 1px solid grey;
  z-index: 1000;

  .logo {
    height: 13vh;
    // min-height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-top: 3%;
    img {
      width: 60px;
      height: 60px;
    }
  }
  .sidebar-item {
    transition: background-color 0.3s ease-out;

    &:hover {
      background-color: white;
      color: black;
    }
  }
}

.sidebar-mobile {
  background-color: black;
  bottom: 0;
  width: 100vw;
  height: 10%;
  display: flex;
  order: 2;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  color: white;

  // order: 2;
  // height: 100%;
  // min-width: 160px;
  // min-height: 600px;
  // min-height: 100vh;
  // flex-direction: column;
  // align-items: flex-start;
  // // width: 100%;
  // justify-content: flex-start;
  // position: relative;
  // border-right: 1px solid grey;

  .logo {
    // padding-left: 10px;
    // padding-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    img {
      width: 40px;
      height: 40px;
    }
  }

  .sidebar-item-mobile {
    transition: background-color 0.3s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    // width: 10%;
    // &:hover {
    //   background-color: white;
    //   color: black;
    // }
    .sidebar-text-mobile {
      width: 100%;
    }
  }
}
