.login {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 0;
  margin: 0;

  .logo {
    opacity: 1;
    transition: opacity 0.5s ease;
    width: 50vw;
    height: 100vh;
    // min-width: 50vw;
    // min-height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    margin: 0;
    gap: 2vw;
  }
  .info {
    width: 50%;
    height: 100%;
    min-width: 50vw;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: 4vw;
    }

    .infoContainer {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      justify-content: center;
      border: red soild 2px;
    }

    #signInDiv {
      max-width: 80%;
      margin-top: 1vw;
    }

    .horizontalLine {
      width: 55%;
      font-size: 1vw;
      text-align: center;
      border-bottom: 1px solid #414a4c;

      line-height: 0.1%;
      margin: 0;
      margin-top: 1vw;

      span {
        background: #fff;
        padding: 10px 10px;
      }
    }

    button {
      &:hover {
        border: #666666;
      }
    }
  }
}

//過度動畫效果
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: all 1s ease;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: all 1s ease;
}

// @media (max-width: 600px) {
//   .login {
//     flex-direction: column;
//     height: 100vh;
//   }
// }

// mobile 版 CSS
.login-mobile {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  .logo-mobile {
    opacity: 1;
    transition: opacity 0.5s ease;
    background-color: black;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    margin: 0;
    gap: 5vw;
    padding-top: 5%;
  }
  .info-mobile {
    height: 55vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    h2 {
      margin-bottom: 0%;
    }
    .horizontalLine {
      width: 55%;
      font-size: 1vw;
      text-align: center;
      border-bottom: 1px solid #414a4c;

      line-height: 0.1%;
      margin: 0;
      margin-top: 1vw;

      span {
        background: #fff;
        padding: 10px 10px;
      }
    }
  }
}