.Flow-container {
  width: 100vw;
  height: 100vh;
  .FlowEditPanel {
    height: calc(100vh - 55px);
    display: flex;
    position: relative;
    .NodePanel {
      position: absolute;
      left: 0;
      top: 0;
      font-family: sans-serif;
      text-align: center;
      height: 100%;
      min-height: calc(90vh - 80px);
    }

    .mouse-dot {
      position: absolute;
      z-index: 0;
      width: 50px;
      height: 50px;
      border-radius: 50% 50%;
      left: 10px;
      top: 10px;

      .mouse-dot-img {
        border-radius: 50% 50%;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}
