.Flow-container {
  width: 100vw;
  height: 100vh;
  .FlowEditPanel {
    height: calc(100vh - 55px);
    display: flex;
    .NodePanel {
      font-family: sans-serif;
      text-align: center;
      height: 100%;
      min-height: calc(90vh - 80px);
    }

    .EditorContainer {
      width: 60%;
      z-index: 100000;
    }
  }
}
