.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  #root {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .App-tab {
    width: 90%;
  }
}
