.ring {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 40%;
  left: 50%;
  width: 150px;
  height: 150px;
  background: transparent;
  border: 8px solid #3c3c3c;
  border-radius: 50%;
  text-align: center;
  // line-height: 150px;
  // font-family: sans-serif;
  font-size: 20px;
  // font-weight: 500;
  color: black;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 0 0 10px gray;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  // padding-top: 0%;
  animation: animate 2s infinite;
}
.ring:before {
  content: "";
  position: absolute;
  width: 90%;
  height: 90%;
  border: 3px solid transparent;
  border-top: 3px solid black;
  border-right: 3px solid black;
  border-radius: 50%;
  animation: animateC 1.5s linear infinite;
}

.text {
  padding-top: 3%;
  padding-left: 3%;
}

@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
