.reset-button {
  background-color: '#0e1111';
  color: 'white';
  &:hover {
    background-color: white;
    color: black;
  }
}

.avatar-container {
  width: 100%;
  max-width: 300px;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  .custom-file-upload {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50% 50%;
    overflow: hidden;
    .avatar-label {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      width: 100%;
      aspect-ratio: 1;
      cursor: pointer;
      // background-color: #4caf50;

      border-radius: 50%;

      .avatar-img-div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border: black solid 5px;
        aspect-ratio: 1;
        border-radius: 50%;
        .avatar-img {
          object-fit: cover;
          width: 100%;
          // height: 10px;
          // height: auto;
          aspect-ratio: 1;
          border-radius: 50%;
        }
      }
    }
  }
  // .custom-file-upload input[type='file'] {
  //   display: none;
  // }
}
