.flow-container {
  box-sizing: border-box;
  margin-left: 20px;
  height: auto;
  // border: red solid 2px;
  width: calc(100% - 20px);
  position: relative;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(5, 18%);
  grid-gap: 2vw;

  .grid-item {
    width: 100%;
  }

  .loading-checkpoint {
    position: absolute;
    bottom: 0px;
  }
}

.flow-container-mobile {
  box-sizing: border-box;
  margin-left: 20px;
  height: auto;
  // border: red solid 2px;
  width: calc(100% - 20px);
  position: relative;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-gap: 2vw;

  .grid-item {
    width: 100%;
  }

  .loading-checkpoint {
    position: absolute;
    bottom: 0px;
  }
}
