.demo-editor {
  display: flex;
  flex-direction: column;
  width: 45vw;
  background-color: white;
  height: 90%;
  border-radius: 15px;
  .header {
    height: 80px;
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    position: relative;

    .toolBarButton {
      border-radius: 15px;
      border: none;
    }

    .title-input {
      width: 40%;
      margin-left: 10px;
      margin-bottom: 0;
      font-size: 30px;
      font-weight: 700;
      border: none;
      background: transparent;
      color: #1e1e1e;

      &:focus {
        outline: none;
        border-bottom: none;
      }

      &:focus + .focus-border {
        width: 20vw;
        min-width: 50px;
        transition: 0.4s;
      }
    }
    .focus-border {
      position: absolute;
      bottom: 15px;
      left: 50px;
      width: 0px;
      height: 2px;
      background-color: #7b7b7b;
      transition: 0.4s;
    }

    .users {
      display: flex;
      justify-content: center;
      gap: 5px;
      position: absolute;
      right: 3vw;
      bottom: 2vh;
      width: fit-content;
      .user {
        cursor: pointer;
        border-radius: 50% 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        overflow: hidden;
        img {
          object-fit: cover;
          width: 100%;
        }

        &:hover {
          border: black solid 2px;
          transition: 0.2s ease-out;
          transform: scale(130%);
        }
      }
    }
  }

  .text-editor {
    height: calc(100% - 80px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    #toolbar {
      flex: 1;
    }

    .editor-input {
      flex: 8;
      color: black;
      overflow-y: scroll;
      .ql-container {
        width: 100%;
        height: 100%;
        border-radius: 0 0 15px 15px;
      }
    }
  }
}

.demo-editor-mobile {
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: 45vh;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 15px;

  .header {
    height: 7vh;
    padding: 0;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;

    .title-input {
      margin-left: 10px;
      margin-bottom: 0;
      font-size: 3vw;
      font-weight: 700;
      border: none;
      background: transparent;
      color: #1e1e1e;
      width: 50%;

      &:focus {
        outline: none;
        border-bottom: none;
      }

      &:focus + .focus-border {
        width: 20%;
        transition: 0.4s;
      }
    }
    .focus-border {
      position: absolute;
      bottom: 1vh;
      left: 50px;
      width: 0px;
      height: 2px;
      background-color: #7b7b7b;
      transition: 0.4s;
    }

    .users {
      display: flex;
      justify-content: center;
      gap: 5px;
      position: absolute;
      right: 3vw;
      bottom: 2vh;
      width: fit-content;
      .user {
        cursor: pointer;
        border-radius: 50% 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        overflow: hidden;
        img {
          object-fit: cover;
          width: 100%;
        }

        &:hover {
          border: black solid 2px;
          transition: 0.2s ease-out;
          transform: scale(130%);
        }
      }
    }
  }

  .text-editor {
    height: calc(100% - 7vh);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    #toolbar {
      flex: 1;
    }

    .editor-input {
      flex: 5;
      color: black;
      overflow-y: scroll;
      .ql-container {
        width: 100%;
        height: 100%;
        border-radius: 0 0 15px 15px;
      }
    }
  }
}

button.css-1vi0bg9-MuiButtonBase-root-MuiButton-root {
  min-width: 50px;
}
